.Page404 {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Page404 h2{
    font-size: 2vw;
}

.Page404 img{
    margin: 5%;
    width: 80%;
    height: auto;
}