.Home {
	text-align: left;
	padding: 0 15% 0 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Home h2 {
	font-size: 2vw;
	margin: 0;
}

.Home p{
	font-size: 1.3vw;
	margin: 0.75rem 0 0.75rem 0;
}

.Home img{
    margin: 4%;
    width: 50%;
    height: auto;
}